---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="About Me"
    description="Toñito"
    pubDate={new Date('August 08 1985')}
    heroImage="/blog-placeholder-about.jpg"
>
    <p>
        De los mismos creadores de la frase, en la buena pelicula: Notthing Hill, ajustada para este blog:
        <b>"I'm just a boy, standing in front of a computer, trying to conquer the world."</b>
        creo este espacio personal para expresar un millon de aventuras que son parte del proceso y de disfrutar de la vida.
        Por si te da curiosidad, la frase original es:
        "I'm just a boy, standing in front of a girl, asking her to love him." por William Thacke (Hugh Grant)
        Siendo creyente del romanticismo gracias al amor de mis padres, Eleazar y Aura, la idea es:
        Infinitivos:
        - crecer
        - confiar
        - no suponer
        - comunicar
        - amar
        Infinitivos reflexivo con negación:
        - no compararse
        - esforzarse
        - (y aun en construccion)
    </p>
</Layout>
