---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Jose Antonio"
    description="Jose Antonio"
    pubDate={new Date('August 08 1985')}
>
    <p>
        De los mismos creadores de la frase, en la buena pelicula: Notthing Hill, ajustada para este blog:
        <b>"I'm just a boy, standing in front of a computer, trying to conquer the world."</b>
        creo este espacio personal para expresar un millon de aventuras que son parte del proceso de disfrutar la vida,
        sentimientos, opiniones, enseñanzas...
    </p>
    <p>
        Por si te da curiosidad, la frase original es:
        "I'm just a boy, standing in front of a girl, asking her to love him." por William Thacke (Hugh Grant)
    </p>
    <p>
        <em>Todo esto gracias a... y auspiciado por... (sin saber y por favor no les cuentes) al amor de mis padres, Eleazar y Aura.</em></br>
        Gracias a ellos, soy creyente del romanticismo y gracias a ellos aprendí:
        <ul>
            <li>
            <strong>Infinitivos:</strong>
            <ul>
                <li>crecer</li>
                <li>confiar</li>
                <li>no suponer</li>
                <li>comunicar</li>
                <li>amar</li>
            </ul>
            </li>
            <li>
            <strong>Infinitivos reflexivo con/sin negación:</strong>
            <ul>
                <li>no compararse</li>
                <li>esforzarse</li>
            </ul>
            </li>
            <li>
            <em>Y aun en construcción (espereme que recien estoy comenzando este viaje del blog)</em>
            </li>
        </ul>
    </p>
    <img
        src="/blog-placeholder-about.jpg"
        alt="Jose Antonio"
        class="mt-8 w-full rounded-lg shadow"
    />
</Layout>
